@page "/"

<h1>Hello doggies!</h1>

<MudText>This is a simple test app in MAUI using Blazor.</MudText>

<MudText>But sometimes simplicity is key right ?</MudText>

<MudText>Want to try a cross-platform components ? Let's try to <MudButton OnClick="@(async () => await OpenMap())">find La niche on a map</MudButton></MudText>

<MudText>Wait, who use 🚗 in Brussels ? Lets try  <MudButton OnClick="@(async () => await OpenMap(NavigationMode.Walking))">something else</MudButton></MudText>

